body{
    background-color: skyblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

h3{
    text-align: left;
    font-size: large;
}
p {
    font-size: 16px;
}
.paragraph{
    text-align: center;
    color: blue;
    font-size: large;
    width: 1000px;
}
#header{
    color: blue;
    text-align: center;
    background-color: blanchedalmond;
    font-size: xx-large;
}
.box-model{
    Width: 300px;
    Padding: 20px;
    Border: 2px solid black;
    Margin: 15px;
    box-sizing: border-box;
    background-color: rgb(46, 0, 88);
}
.one{
    background-color: rgb(183, 128, 25);
     Width: 1000px;
     
}
.two{
    color: rgb(255, 0, 0);
}
.big{
    font-size: x-large;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-top: 0px;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main{
    position: relative;          
    padding: 10px;
    margin: 20px auto; 
    background-color: whitesmoke;
    min-height: 100px;
    border: 2px solid black;
    width: 1500px;

}

.box{
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: green;
    color: white;
    padding: 30px;
    font-size: 20px;
}
.sticky{
    position: -webkit-sticky;
      position: sticky;
      top: 0; 
      background-color: yellow;
      padding: 15px;
      font-size: 18px;
      text-align: center;
      z-index: 1000; 
}